/*hier worden een de dingen geregeld die voor de hele html-pagina gelden*/
html {
    font: normal 13px/1.4 "-apple-system", "system-ui", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-y: scroll;
    color: #000;
}
/*de opmaak van het element 'header' wordt hieronder geregeld*/
header {
	margin: 0 1%;
	border: solid 1px;
	padding: 1%;
}
/*met een punt er voor verwijst naar een class*/
.breed {
	float: left;
	/*margin: 0 1%;*/
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1%;
	margin-right: 1%;
	width: 95%;
	border: solid 1px;
	padding: 1%;
}

.left {
	float: left;
	margin: 0 1%;
	width: 61%;
	border: solid 1px;
	padding: 1%;
	background: red;
}

.right {
	float: right;
	margin: 0 1%;
	width: 30%;
	border: solid 1px;
	padding: 1%;
}

.text-left {
	text-align: left;
}
.text-right {
	 text-align: right;
}

.text-center {
	text-align: center;
}

button {
	margin: 5px;
}